<!DOCTYPE html>
<html lang="{{ _('it') }}">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description"
		  content="Servizio Taxi, autonoleggio con conducente, servizio N.C.C., auto di lusso, vip service, minivan, minibus, transfer da e per aeroporti, servizi per cerimonie ad Abano Terme e Montegrotto Terme">
	{% include "_analytics_top.html" %}
	<meta name="author" content="Dario Varotto">
	<link rel="canonical" href="{{ canonical_url }}" />
	<title>{% block title %}{{ _('ARTE Taxi') }}: {{ _('Autonoleggio RadioTaxi Terme Euganee') }}{% endblock title %}</title>

	<!--- Favicon generator --->
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
	<link rel="manifest" href="/manifest.json">
	<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="theme-color" content="#ffffff">

	{% block head %}{% endblock head %}
</head>

<body id="page-top">
{% block body %}
{% endblock body %}
{% include "_analytics_bottom.html" %}
</body>
</html>

